.bets-title {
  padding-top: 25px;
}

.table {
    background-color: #A8D2F1;
    font-weight: bolder;
}

.table-body {
    font-weight: bold;
}

.table a {
    color:black;
    text-decoration: none;
    font-weight: normal;
}