.users-columns {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.left-column {
    flex: 1;
    height: 100vw;
}

.invite-column h3 {
    color:green;
}

.points-column {

}

.points-column h3 {
    color: red;
}

.bets-column {
    flex:1;
    height: 100vw;
}


