.users-columns {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.invite-column {
    flex: 1;
    height: 100vw;
}

.invite-column h3 {
    color:green;
}

.bets-column {
    flex:3;
    height: 100vw;
}


